.secaoInicial {
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .conteudo {
    display: flex;
    gap: 20px;
    height: 40rem;
    align-items: center;
    width: 100%;
  }
  
  .content {
    color: rgb(255, 255, 255);
    padding: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    justify-content: space-between;
    height: 100%;
    background: #292929 ;
    width: 60%
  }
  
  .content h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .destaque {
    color: #ffe600;
  }
  
  .content p {
    font-size: 1.2rem;
    color: #868686;
    margin-bottom: 30px;
    max-width: 480px;
  }
  
  .cta {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 28px;
    border-radius: 32px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  .metricas {
    display: flex;
    gap: 24px;
  }
  
  .card {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    flex: 1;
  }
  
  .numero {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .descricao {
    font-size: 0.9rem;
    color: #ffffff;
  }
  
  .direita {
    width: 40%;
    height: 100%;
  }
  
  .imagem {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
  }
  