.plantaContainer {
  position: relative;
  width: 50rem;
  height: 35rem;
  max-width: 700px;
  background: #292929;
  border-radius: 40px;
  box-shadow: 0 4px 24px #0007;
  padding: 24px 0 32px 0;
}


.plantaImg {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 2px 12px #0005;
  background: #23232b;
}

.botaoComodo {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  color: #f4f4f4;
  border-radius: 40px;
  border: none;
  padding: 12px 28px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 10px #0006;
  transition: background 0.2s, color 0.2s, transform 0.15s;
  outline: none;
  z-index: 2;
  width: 8rem;
}

