.header { 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo h1{
    font-size: 1rem;
    font-weight: bold;
    color:rgb(186, 186, 186)
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 60px;
}

.menu li {
    display: inline;
}
.menu a {
    color:rgb(186, 186, 186);
    text-decoration: none;
    font-size: 1.2rem;
}