.dashboardonConsumo {
  width: 100%;
  background: #292929;
  color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 14px #0000008e;
  margin: 32px;
  animation: fadeIn 0.8s;
  padding: 32px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px);}
  to { opacity: 1; transform: translateY(0);}
}

.graficos {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.grafico {
  background: #292929;
  border-radius: 40px;
  padding: 24px 16px;
  min-width: 300px;
  flex: 1 1 350px;
  animation: fadeIn 1.2s;
  transition: box-shadow 0.2s;
}

.titulo {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.titulo span {
  color: #ffe600;
}

.subtitulo {
  color: #bababa ;
  font-size: 1.2rem;
  margin-bottom: 16px;
  text-align: center;
}

.vazio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffd600;
  font-size: 1.2rem;
  font-weight: 500;
  min-height: 200px;
  gap: 18px;
  border-radius: 12px;
  margin: 32px 0;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  width: 32px;
  height: 32px;
  border: 4px solid #ffd60055;
  border-top: 4px solid #ffd600;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}