/* components/ContaDeEnergia.css */

.contaEnergia {
    background-color: #f8f9fa;
    border: 2px solid #cfd8dc;
    border-radius: 12px;
    padding: 20px;
    width: 35%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  }
  
  .contaEnergia h2 {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #333;
  }
  
  .infoConta p {
    font-size: 1rem;
    margin: 6px 0;
    color: #555;
  }
  